body{
  margin: 50px 50px 50% 50px;
  background-image: linear-gradient(#b3cddc, #115994);
  color: #53170f;
}

h1{
  text-align: center;
  font-size: 50px;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}

.form-group{
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

#response{
  background: white;
  margin: 25px;
  display: none;
}

#special{
  background: white;
  margin: 25px;
  display: none;
}

#mrRogers{
  width: 50%;
  height: auto;
  margin: 0 50px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}