body{
  margin: 50px 50px 50% 50px;
  background-image: linear-gradient(#a9cce0, #3a75a5);
  color: #e5432d;
}

#mrRogers{
  float: left;
  width: 50%;
  height: auto;
  margin: 0 50px 25px 0;
}

h1{
  text-align: center;
  font-size: 50px;
}

#response{
  background: white;
}

.blink{
  animation: blinker 1s linear infinite;
}

.blink1{
  animation: blinker .7s linear infinite;
}

.blink2{
  animation: blinker .3s linear infinite;
}

.blink3{
  animation: blinker .1s linear infinite;
}

/* @keyframes blinker {
  99% {
    opacity: 0;
  }
} */