body{
  margin: 50px;
  background-image: linear-gradient(#2b7dac, #0d3d63);
  color: #e5432d;
}

.blink{
  animation: blinker 1s linear infinite;
}

.blink1{
  animation: blinker .7s linear infinite;
}

.blink2{
  animation: blinker .3s linear infinite;
}

.blink3{
  animation: blinker .1s linear infinite;
}

/* @keyframes blinker {
  99% {
    opacity: 0;
  }
} */